<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @entersoft.fullname %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @entersoft.fathername %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entersoft.email %>
</p>

<p>
  <strong>Mobilenumber:</strong>
  <%= @entersoft.mobilenumber %>
</p>

<p>
  <strong>Location:</strong>
  <%= @entersoft.location %>
</p>

<p>
  <strong>Areureadytorelocate:</strong>
  <%= @entersoft.areureadytorelocate %>
</p>

<p>
  <strong>Btechpercentage:</strong>
  <%= @entersoft.btechpercentage %>
</p>

<%= link_to 'Edit', edit_entersoft_path(@entersoft) %> |
<%= link_to 'Back', entersofts_path %>
